body{
    background:linear-gradient( #ebb5bd, #fc6b83) ;
    margin: 0 auto;
}
 .foto-logo{
    width: 10%;
    margin-left: 18px;
    border-radius: 100%;
 }
 nav {
    position:absolute;
    top: 65px;
    right: 65px;

 }
 nav a{
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 20px;
    color:#ed647b
 }
 nav a:hover{
    font-size: 29px;
    font-weight: bold;
    text-shadow: 2px 3px 5px #f991a2;
    transition: 1s;
 }
main {
    text-align: center; 
   
}
#slogan{
    font-size: 25px;
}

.capa{
    width: 50%;
    height: 100%;
}

.beneficios h2 {
    text-align: center;
}
ul{
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    font-size: 20px;
    margin-right: 300px;
} 
li{
    padding: 20px;
    margin: 10px;
}
.foto-beneficios{
    width: 30%;
    height: 50%;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #ffffff; 
    
}
