body{
    background: #fbb1bd;
}
main {
    text-align: center; 
   
}
#slogan{
    font-size: 25px;
}

.capa{
    width: 50%;
    height: 100%;
}
.conteudo{
    background: #ffccd5;
}
.beneficios{
    background-color: #f991a2;
    display: inline-block;
}
ul{
    display: inline-block;
    vertical-align: top;
    padding: 10px;
} 
li{
    padding: 10px;
    margin: 10px;
}
.foto-beneficios{
    width: 30%;
    height: 50%;
}
